<div  class="mt-5 ps-5"style="width: 50%;margin: auto; ">
<div id="myCarousel" class="carousel slide " data-bs-ride="carousel" data-bs-interval="500">
    <div class="carousel-inner">
      <div class="carousel-item active" data-min-duration="100">
        <img src="../../assets/img/31aO+rnEIxL.AC_SX250.jpg " class="d-block w-50" alt="Image 1">
      </div>
      <div class="carousel-item " data-min-duration="100">
        <img src="../../assets/img/31ohEYgId1L._AC_UF226,226_FMjpg_.jpg"  class="d-block w-50" alt="Image 2">
      </div>
      <div class="carousel-item " data-min-duration="100">
        <img  src="../../assets/img/31sSlUv8XJL.AC_SX250.jpg"  class="d-block w-50" alt="Image 2">
      </div>
      <div class="carousel-item " data-min-duration="100">
        <img  src="../../assets/img/31ZvDjE-6xL.AC_SX250.jpg"  class="d-block w-50" alt="Image 2">
      </div>
      <!-- <div class="carousel-item " data-min-duration="100">
        <img  src="../../assets/img/412N19zwcGL.AC_SX250.jpg"  class="d-block w-50" alt="Image 2">
      </div>
      <div class="carousel-item " data-min-duration="100">
        <img  src="../../assets/img/51x+3be2hCL.AC_SX250.jpg"  class="d-block w-50" alt="Image 2">
      </div> -->
      <div class="carousel-item " data-min-duration="100">
        <img  src="../../assets/img/41mG5Otn4kL.AC_SX250.jpg"  class="d-block w-50" alt="Image 2">
      </div>

      <!-- Add more carousel items as needed -->
    </div>
 
  </div>



</div>