<div style="width: 60%; height:500px; margin: auto;">
<div id="myCarousel" class="carousel slide h-100" data-bs-ride="carousel" data-bs-interval="500">
    <div class="carousel-inner">
      <div class="carousel-item active" data-min-duration="100">
        <img src="../../assets/img/e-commerce_img.webp " class="d-block w-100" alt="Image 1">
      </div>
      <div class="carousel-item " data-min-duration="100">
        <img src="../../assets/img/image.png"  class="d-block w-100" alt="Image 2">
      </div>
      <div class="carousel-item " data-min-duration="100">
        <img  src="../../assets/img/e-commerce_img.webp "  class="d-block w-100" alt="Image 2">
      </div>
      <!-- Add more carousel items as needed -->
    </div>

  </div>



</div>