<div class="item" *ngIf="!loading">
  <div class="container">
    <div class="img">
      <img [src]="myData.image" alt="s" />
    </div>
    <div class="details">
      <ul>
        <li>
          Title: <span>{{ myData.title }}</span>
        </li>
        <li>
          Category: <span>{{ myData.category }}</span>
        </li>
        <li>
          Description: <span>{{ myData.description }}</span>
        </li>
        <li>
          Rate: <span>{{ myData.rating.rate }}</span>
        </li>
        <li>
          Count: <span>{{ myData.rating.count }}</span>
        </li>
        <li>
          Price: <span>{{ myData.price }}</span> LE
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mySpinner" *ngIf="loading">
  <app-spinner></app-spinner>
</div>
